.healthRecordCard {
    margin: 20px;
    padding: 20px;
    cursor: pointer;
  }
  
  .healthRecordRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  
  .healthRecordRow span {
    font-weight: bold;
  }
  