.doctorCard {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 8px;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
  }
  
  .doctorCard:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .doctorCardTitle {
    margin: 0;
  }
  
  